{% extends 'bootstrap/base.html' %}
{% block body_content %}
<div>
    <div>查询模块</div>
    <div class="">分类模块
        <dl>
            <dd class="">分类一</dd>
            <dd class="">分类二</dd>
            <dd class="">分类三</dd>
            <dd class="">分类四</dd>
        </dl>
    </div>
    <div>商品列表
        <dl>
            <dd>商品一</dd>
            <dd>商品二</dd>
            <dd>商品三</dd>
            <dd>商品三</dd>
            <dd>商品三</dd>
            <dd>商品三</dd>
            <dd>商品三</dd>
        </dl>
    </div>

</div>
{% endblock body_content %}